@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .btn-header {
    @apply cursor-pointer w-10 h-10 text-gray-dark dark:text-white bg-gray-lighter bg-opacity-0 hover:bg-opacity-10 transition-all flex items-center justify-center rounded-full;
  }
  .container {
    @apply px-4 sm:px-14 md:px-20 lg:px-24 text-gray-950 dark:text-gray-100 bg-white dark:bg-gray-900;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1rem;
  padding-inline: 0.1rem;
}
*::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 1rem;
}
